#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    text-align: center;
    font-family: poppins;
    letter-spacing: 8px;
    color: #ffffff;
  }
  
p {
    text-align: center;
    font-family: poppins;
    font-size: 20px;
    color: #ffffff;
  }

body {
    background-image: url('images/bg.JPG');
    background-attachment: fixed;
    background-size: cover;
}
  
.fade-in-image {
    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

