#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  width: 650px;
  margin-bottom: 50px;
}

#form {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    margin-bottom: 110px;
}

#fact-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    text-align: center;
    font-family: poppins;
    letter-spacing: 8px;
    color: #ffffff;
  }
  
p {
    text-align: center;
    font-family: poppins;
    font-size: 20px;
    color: #ffffff;
  }

label {
    font-family: poppins;
    font-size: 20px;
    color: #ffffff;
  }

body {
    background-image: url('images/bg.JPG');
    background-attachment: fixed;
    background-size: cover;
}

button {
    background-color: gainsboro;
    border: none;
    color: black;
    border: 2px solid gainsboro;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: poppins;
    border-radius: 8px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: gainsboro;
    border: 2px solid gainsboro;
  }

textarea {
    resize: none;
    width: 250px;
    height: 50px;
    font-family: poppins;
}
  
.fade-in-image {
    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

