#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

h1 {
    text-align: center;
    font-family: montserrat;
  }
  
  p {
    font-family: poppins;
    font-size: 20px;
  }
